* {
  padding: 0;
  margin: 0;
  font-family: "Crimson Pro", serif;
}
body {
  min-height: 100vh;
  background: url(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  /* width: 700px; */
  /* position: absolute;
  top: 100px;
  left: 100px; */
  height: 100vh;
  background-color: transparent !important;
  border: none !important;
  transition: 2s;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  animation: slide-in 2s forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100vw);
  }
}

.slide-out {
  animation: slide-out 2s forwards;
}

@keyframes leap {
  0% {
    transform: translateY(0);
  }

  7% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
    opacity: 0.5;
  }

  75% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.dot:nth-child(1) {
  background-color: #eeb493;
  animation: leap 1s ease-in-out alternate 0.4s infinite;
}

.dot:nth-child(2) {
  background-color: #d6ac5a;
  animation: leap 1s ease-in-out alternate 0.6s infinite;
}

.dot:nth-child(3) {
  background-color: #f9cd78;
  animation: leap 1s ease-in-out alternate 0.8s infinite;
}
.playbtn-container {
  height: 90vh;
}
.playbtn {
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.block {
  /* position: absolute;
  top: 200px;
  right: 600px;
  perspective: 800px; */
  height: 100vh;
  display: flex;
  align-items: center;
}
.outside,
.inside {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  padding: 1.5rem;
}
.outside {
  background-color: blanchedalmond;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  backface-visibility: hidden;
}
.outside h1 {
  font-size: 3rem;
  font-weight: bold;
  color: salmon;
  margin-bottom: 30px;
}
.inside {
  background-color: rgb(255, 244, 79);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg);
}
.inside h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}
.frames {
  width: 100%;
  height: fit-content;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px !important;
  /* position: absolute; */
  animation: moveIn 1s ease forwards;
  visibility: hidden;
}

@keyframes moveIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    visibility: visible;
    transform: rotateY(-220deg) rotateX(20deg);
  }
}
.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frames img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.frames p {
  font-size: 15px;
  font-weight: bold;
  color: #725944;
  letter-spacing: 0px;
  transform: rotateY(180deg);
}

.frames:nth-child(1) {
  top: -120px;
  z-index: -1;
  background-color: #eeece2;
  animation-delay: 1.2s;
}

.frames:nth-child(2) {
  top: 15px;
  background-color: #fdfdfb;
  animation-delay: 5.8s;
}

.frames:nth-child(3) {
  top: 140px;
  background-color: #f0d5bf;
  animation-delay: 9s;
}

.frames:nth-child(4) {
  top: 260px;
  background-color: #eeb493;
  animation-delay: 11.7s;
}

.frames:nth-child(5) {
  top: 375px;
  background-color: #f1dbaf;
  animation-delay: 14s;
}
.first {
  height: 90vh;
}
.next-page {
  width: 80px;
  /* position: relative;
  top: 100px;
  left: 40%; */

  animation: next 1s ease 16.5s 1 forwards;
  visibility: hidden;
}
.next-page a {
  text-decoration: none;
  color: salmon;
  animation: next-page-link 0.5s ease-in infinite;
}

@keyframes next {
  0% {
    transform: translateY(100%);
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
@keyframes next-page-link {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  .card {
    margin-top: 10px;
    height: fit-content;
  }
  .first {
    height: fit-content;
  }
  .block {
    margin-top: 20px;
    height: fit-content;
  }
  .counter {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}
@media screen and (max-width: 400px) {
  .next-page {
    width: 50px;
    display: flex;
    justify-content: center;
  }
  .card {
    margin-top: 10px;
    height: fit-content;
  }
  .first {
    height: fit-content;
  }
}
